@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .tag {
    transition: opacity 200ms ease-in-out, color 1s ease-in-out, background-color 1s ease-in-out, transform 200ms ease-in-out;
  }
  

  body *:not(button):not(.notrans):not(.notrans *):not(.tag):not(.icon-bright *):not(.icon-dim *) {
    @apply text-neutral-700 dark:text-neutral-400;

    transition: color 1s ease-in-out, background-color 1s ease-in-out;

    h1, h2, h3, h4, h5, h6 {
      @apply font-serif text-neutral-900 dark:text-neutral-200;
    }
  }

  .prose {
    code:not(.code-window *) {
      @apply py-1 px-1.5 rounded !text-neutral-700 dark:!text-neutral-400 dark:bg-neutral-700 bg-slate-200;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
    
    li::marker {
      @apply !text-neutral-700 dark:!text-neutral-400;
      transition: color 1s ease-in-out;
    }
  }

  .icon-bright path {
    @apply stroke-neutral-700 dark:stroke-neutral-400;
    transition: stroke 1s ease-in-out;
  }

  .icon-dim path {
    @apply stroke-neutral-400 dark:stroke-neutral-700;
    transition: stroke 1s ease-in-out;
  }

  body {
    @apply overflow-y-scroll lg:py-32 bg-slate-200 dark:bg-black heropattern-circuitboard-slate-400/10;
    transition: background-color 1s ease-in-out;
  }

  :root {
    --color-base: 241 245 249;
    --color-base-content: 245 245 245;
    --color-text-primary: 64 64 64;
  }

  [data-theme="dark"] {
    --color-base: 0 0 0;
    --color-base-content: 25 25 25;
    --color-text-primary: 225 225 225;
  }
}

/* Fixes Tailwind making borders white */
.katex * {
  border-color: inherit;
}